:root{
  /* color system */
  --coffee: #715744ff;
  --coffee-dark: #71553Dff;
  --battleship-gray: #9F9890ff;
  --silver: #B3B6B7ff;
  --silver-dark: #A6A5A3ff;
  --black-olive: #242526;
  --black-olive-light: #565758;
  --gunmetal: #1D1F21;
  --smoky-black: #101720;
  --oxford-blue: #212A37;
  /* breakpoints */
  --xxl-screen: 1200px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

body{
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

header{
  background-color: rosybrown;
  padding: 0.5rem 0;
}

main{
  background-color: antiquewhite;
}

video{
  width: 100%;
}

label, input, textarea{
  display: block;
}

form{
  padding: 1rem;
  width: 100%;
}

footer{
  background-color: var(--oxford-blue);
}

i{
  margin-right: 0.25rem;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container,
.container-flex,
.container-grid {
  width: 100%;
  max-width: var(--xxl-screen);
  margin: 0 auto;
  padding: 1rem;
}

.container-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-grid{
  display: grid;
  gap: 1rem;
  overflow: hidden;
  height: 100%;
  align-items: center;
}

.justify-content-end{
  justify-content: end;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.w-100{width: 100%;}

.text-center {
  text-align: center;
}

.text-primary{
  color: purple;
}

.text-secondary{
  color: var(--coffee-dark);
}

.text-tertiary{
  color: var(--black-olive);
}

/* Visualization start*/

.d-none{display: none;}
.d-block{display: block;}
.d-flex{display: flex;}

.flex-wrap{
  flex-wrap: wrap;
}

/* Visualization end */

.section-title{
  font-size: 3vw;
  text-align: center;
  margin-bottom: 1rem;
}

.nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 0;
  max-width: var(--xxl-screen);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: rosybrown;
  & ul{
    display: flex;
    margin-top: 5px;
  }
  & .nav-menu{
    display: none;
  }
  & .nav-item{
    display: inline-block;
    padding: 0.5rem 0;;
    border-bottom: 2px solid transparent;
    &:hover{
      border-color: purple;
    }
  }
  & .nav-link{
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
    font-weight: 500;
    color: white;
  }
}

.nav-brand{
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
  & img{
    height: 32px;
    margin: 0 1rem;
    vertical-align: middle;
  }
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  margin: 0;
  background-image: url(../img/hero-background.jpg);
  background-color: rosybrown;
  background-size: cover;
  background-position: center;
}

.hero-message{
  text-align: end;
  color: white;
}

.hero-title, .hero-subtitle, .hero-pitch{
  margin: 0;
}

.hero-title{
  font-size: 1rem;
  font-weight: 300;
}

.hero-subtitle{
  font-family: "Pinyon Script", serif;
  font-size: 3.5rem;
  font-weight: 200;
}

.hero-pitch{
  margin-top: 2rem;
}

#main-container{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color: var(--coffee-dark);
}

.video-container{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  border-radius: 1rem;
}

.main-text{
  grid-row: 1 / span 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  & p{
    font-size: 1rem;
    margin-top: 1rem;
  }
}

#works{
  background-color: cadetblue;
}

#works-container{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 100vh;
  padding: 2rem;
  & .work-image-wrapper:first-child{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url(../img/body-suit-h.jpg);
  }
  & .work-image-wrapper:nth-child(2){
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    background-image: url(../img/accesories-bouquet.jpg);
  }
  & .work-image-wrapper:last-child{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    background-image: url(../img/session-tutu-pink.jpg);
  }
}

.work-image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  color: antiquewhite;
  background-color: rgba(255, 255, 255, .5);
  background-position: center;
  background-size: cover;
  font-size: 3rem;
}

.btn{
  display: inline-block;
  margin: 1rem 0 0.5rem 0;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.btn-small{
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
}

.btn-primary{
  color: white;
  background-color: darkviolet;
  &:hover{
    background-color: purple;
  }
}

.btn-secondary{
  color: white;
  background-color:slateblue;
  &:hover{
    background-color:darkslateblue;
  }
}

.btn-tertiary{
  color: var(--silver);
  background-color:var(--black-olive-light);
  &:hover{
    background-color:var(--black-olive);
  }
}

.btn-group button{
  margin-left: 0.5rem;
  &:first-child{
    margin-left: 0;
  }
}

#promoted-products{
  background-color: cadetblue;
  padding-bottom: 2rem;
  & .section-title{
    color: whitesmoke;
  }
  & .container-flex{
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }
}

.product-card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  background-color: antiquewhite;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
  &:has(.product-link:hover){
    transform: translateY(-3px);
    box-shadow: 0px 5px 13px rgba(0, 0, 0, .35);
  }
}

.product-card-header{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 33%;
}

.product-card-body {
  padding: 0.5rem;
  color: var(--oxford-blue);
  & .product-size{
    color: var(--black-olive-light);
    font-size: 0.75rem;
    display: block;
    margin-top: 0.5rem;
  }
  & .product-price{
    margin-top: 0.5rem;
    font-weight: bold;
  }
}

.product-card-footer{
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

#shop-cart-wrapper{
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 860px;
  min-width: 400px;
  color: var(--black-olive);
  background-color: rgba(250, 235, 215, .5);
  border-radius: 1rem;
  & h2{
    margin: 0;
    padding-bottom: 1rem;
  }
}

.shop-cart-footer{
  margin-top: 1rem;
  & span{
    margin-right: 0.5rem;
  }
}

.shop-cart-thumbnail{
  vertical-align: middle;
}

.error-message{
  text-align: center;
  color: red;
  font-weight: bold;
}

#feedback{
  background-color:antiquewhite;
  padding-top: 2rem;
  & .container-grid{
    max-width: 60vw;
    grid-template-rows: repeat(3,1fr)
  }
  & h2{
    color: var(--coffee-dark);
  }
}

.card-feedback{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.card-feedback{
  &:first-child .card-feedback-image .customer-photo{
    background-image: url(../img/customer-01.jpg);
  }
  &:nth-child(2) .card-feedback-image .customer-photo{
    background-image: url(../img/customer-02.jpg);
  }
  &:last-child .card-feedback-image .customer-photo{
    background-image: url(../img/customer-03.jpg);
  }
}

.card-feedback-image{
  flex: 1;
}

.customer-photo{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 50%;
  margin-bottom: 0.5rem;
}

.card-feedback-text{
  flex: 5;
  color: var(--coffee-dark);
  & cite{
    display: block;
    color: var(--coffee);
    text-align: end;
    font-size: smaller;
  }
}

.qualifier{
  display: block;
  color: rosybrown;
  font-size: 0.75rem;
  text-align: center;
}

#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  min-height: 100vh;
  & .container{
    max-width: 60vw;
  }
  & .container-flex{
    justify-content: center;
    align-items: center;
  }
}

.form-wrapper{
  display: flex;
  justify-content: end;
  width: 60vw;
  min-width: 300px;
  height: 60vh;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  overflow: hidden;
}

.form-contact{
  display: flex;
  flex-direction: column;
  & button{
    align-self: end;
    margin-bottom: 0;
  }
}

.input-group{
  margin-bottom: 1rem;
  & input, textarea{
    width: 100%;
    margin-top: 0.25rem;
    border: 1px solid var(--black-olive-light);
    border-radius: 5px;
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    padding: 0.25rem;
  }
  & label{
    color: var(--black-olive);
    font-size: small;
  }
}

.footer-nav{
  justify-content: space-evenly;
  & img{
    filter: grayscale(100%) brightness(200%);
  }
}

.nav-list{
  display: flex;
  flex-direction: column;
  & .nav-link{
    color: var(--silver-dark);
    margin: 0.25rem 0;
    &:hover{
      color: whitesmoke;
    }
  }
}

.social{
  font-size: 2rem;
  background-color: transparent;
  & .nav-item{
    border: none;
  }
  & .nav-link{
    color: var(--silver-dark);
    &:hover{
      color: whitesmoke;
    }
  }
}

.copyright, .developer{
  display: block;
  text-align: center;
  font-size: small;
  color: var(--black-olive-light);
}

@media (width > 512px) and (width <= 768px){
  .form-wrapper{
    width: 80vw;
    min-width: 300px;
    height: 80vh;
  }
}

@media (width <= 512px){
  header .nav-bar{
    & ul{
      flex-direction: column;
      justify-content: start;
      text-align: end;
    }
    & .nav-collapse{
      display: none;
    }
    & .nav-show{
      display: block;
    }
    & .nav-menu{
      display: inline-block;
    }
  }

  .hero{
    align-items: flex-end;
    & .container-flex{
      justify-content: center;
    }
  background-image: linear-gradient(#ffffff00 70%, var(--coffee-dark)), url(../img/hero-background.jpg);
  }

  .hero-message{
    text-align: center;
  }

  .section-title{
    font-size: 2rem;
    text-align: center;
  }

  #main-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    & div{
      grid-column: 1 / span 1;
      grid-row: auto / span 1;
    }
  }

  #works-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    & .work-image-wrapper{
      &:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
      &:nth-child(2){
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
      &:nth-child(3){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      }
    }
  }

  #feedback .container-grid{
    max-width: 100%;
  }

  .card-feedback-image{
    max-width: 50%;
    flex: 1 100%;
  }

  .card-feedback-text{
    flex: 1 100%;
  }

  #contact .container{
    max-width: 100%;
  }

  .form-wrapper{
    height: auto;
    & img{
      display: none;
    }

  }

  footer .container-flex{
    flex-direction: column;
    gap: 1rem;
    & .nav-item{
      text-align: center; 
    }
  }

}